.reply {
    grid-area: 3 / 2 / 4 / 3;
    padding: 25px;
    margin-left: 320px;
    width: 950px;
    // border: 1px solid grey;
    // border-top: 1px solid black;
    // border-bottom: 1px solid black;
}

.reply-form button {
    grid-area: 2 / 3 / 3 / 4;
    padding: 10px;
    width: 125px;
    font-weight: bold;
    justify-self: right;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    color: white;
    background-color: #3e78ad;
    height: 40px;
    margin-left: 15px;
    margin-top: 20px
}

.reply-form button:hover {
    cursor: pointer;
    background-color: #416fb598;
}

.reply-form textarea {
    flex: 1;
    resize: none;
    overflow-y: auto;
    margin-right: 10px;
    padding: 5px;
    min-height: 75px;
    font-size: 20px;
}

.reply-username {
    color: #c25100;
    font-family: courier;
}

.reply-error {
    margin-top: 15px;
}

.replies-show {
    background-color: rgb(238, 238, 238);
    border: 3px solid black;
    border-top: none;
    list-style-type: none;
    grid-area: 4 / 2 / 5 / 3;
    padding-left: 15px;
    padding-right: 15px;
}

.reply-item {
    margin-left: 25px;
}