.session-box {
    grid-area: 1 / 1 / 4 / 3;
    position: relative;
    margin: auto;
    margin-top: 60px;
    border-radius: 50%;
    background-color: white;
    width: 650px;
    height: 650px;
    display: grid;
    grid-template-rows: 20% 20% 20%;
    grid-template-columns: 50% 50%;
    border: 3px solid grey;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2852&q=80");
}

.website-title {
    grid-area: 1 / 1 / 1 / 3;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    color: #ff3333;
    font-style: oblique;
    font-family: fangsong;
}

.website-title h1 {
    margin-top: 15px;
    margin-bottom: 8px;
}

.slogan {
    grid-area: 2 / 1 / 3 / 3;
    text-align: center;
}

.slogan p {
    margin-top: 15px;
    color: #ff8080;
    font-style: italic;
    font-family: fangsong;
}

.session-buttons-box {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0px 30px 200px 30px;
    justify-content: space-between;
}

.demo-login {
    background-color: #df4930;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 12px;
    border: none;
    border-radius: 2px;
}

.demo-login:hover {
    color: #fff;
    background-color: #d53c219a;
    cursor: pointer;
}

.change-login-type {
    background-color: #507cc0;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 12px;
    border: none;
    border-radius: 2px;
}

.change-login-type:hover {
    color: #fff;
    background-color: #416fb598;
    cursor: pointer;
}

.session-form {
    grid-area: 3 / 2 / 4 / 3;
    padding-left: 30px;
    padding-right: 30px;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.login-message, .signup-message {
    font-size: 25px;
    font-weight: bold;
    width: 270px;
    margin: 0px;
    font-family: Courier;
    color: white
}

.login, .signup {
    font-family: Courier;
    font-size: 20px;
    color: white
}

.session-form input[type="text"],
.session-form input[type="password"], 
.session-form button {
    border: 1px;
    border-style: solid;
    border-color: #cccccc;
    border-radius: 2px;
    font-size: 15px;
    padding: 8px;
    margin-top: 15px;
}

.username, .email {
    display: flex;
    width: 90px;
}

.password-input, .username-login {
    width: 200px;
    background-color: #e6e6e6
}

.username {
    justify-self: left;
    margin-right: 2px;
    background-color: #e6e6e6
}

.email {
    justify-self: right;
    margin-left: 2px;
    background-color: #e6e6e6

}

.signup-button, .login-button {
    background-color: #3e78ad;
    color: white;
    font-weight: bold;
    display: flex;
    align-self: flex-end;
}

.session-error {
    color: #b00000;
    font-size: 16px;
    grid-area: 1 / 1 / 5 / 3;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-self: center;
    margin: 40px 20px 60px 20px;
}