html {
    min-height: 100vh;
    display: contents;
}

body {
    font-family: 'Arial';
    font-size: 18px;
    min-height: 100vh;
    min-width: max-content;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    // background-color: #141452

    // background-image: url("https://images.unsplash.com/photo-1547623641-d2c56c03e2a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80");
}

.home-page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("https://images.unsplash.com/photo-1508612227635-e7cbb9bdf54d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1620&q=80");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

button:active {
    outline: none;
}

#root {
    padding: 15px 15px 0px 15px;
}

.routes {
    display: grid;
    grid-template-rows: 90px auto auto auto 15px;
    grid-template-columns: 275px auto;
}

.hidden {
    display: none;
    visibility: hidden;
}

.react-error {    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 10s ease-in-out infinite;
}